include mixins.pug

html
  +header()
  body
  +menuHome
  div.container
    p
    h1.pageTitle Welcome to the Creative Combiner
    p Click on LIBRARY to start adding cards, TEMPLATES to create a template, and COMBINE to combine cards as specified in templates. It's that simple!
