mixin header
  head
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/js/cardUI.js" type="text/javascript")
    link(href="/css/style.css" rel="stylesheet" type="text/css")


mixin addForm
  form(method="POST" action="/addData" id="cardSubmit" onsubmit="submitForm('cardSubmit')")
    div.formGroup
      label Card Title
      input(name="title" type="text")
    div.formGroup
      label Card Comments
      input(name="comments" type="text")
    div.formGroup
      label Card Category
      input(name="category" type="text")
    div.formGroup
      input(type="submit" value="submit")
