include mixins.pug

html
  +header()
  body
    +menuTemplates(categories)
    div.container
      +undermenuSpace
      +templatesList(templates)
    div.floatingModuleContainer(id="addTemplateComponentHolder" class="")
      +addTemplateComponentForm(categories)
