include mixins.pug

html
  +header()
  body
    +menuTemplates(categories)
    div.container
      +undermenuSpace
      +templatesList(templates)
      +newTemplateForm
    div.floatingModuleContainer(id="addTemplateComponentHolder" class="moduleHolder")
      +addTemplateComponentForm(categories)
