body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  max-width: 800px;
  margin: auto;
}

label {
  display: block;
}


.menuBar {
  background-color: #555;
  color: #fff;
  position: fixed;
  width: 100%;

}

.menuBar .item {
    padding: 6px;
    border: 1px solid #777;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

}

.menuBar .item:first-of-type {
  border-left-width: 2px;
}

/**MODULE*/
.moduleHolder {
  position: absolute;
  top: 32px;
  width: 360px;
  background-color: #444;
  border: 1px solid #777;
  visibility: hidden;

}

.moduleHolder.activated {
  visibility: visible;
}

a.intermoduleLink {
  cursor: pointer;
  font-size: 13px;
  margin-left: 4px;
  padding: 4px;
}



.cardsView {
  display: flex;
  flex-flow: row wrap;
}

.cardsView .card {
  padding: 12px;
  margin: 12px;
  background-color: #ABC;
  display: block;
  width: 27%;
}

.cardsView .card p{
  width: 100%;
}



form {
  padding: 24px;
  border-radius: 12px;
  margin: auto;
}

form .formGroup {
  margin-bottom: 12px;
}

form .formGroup input{
  width: 100%;
}

form .formGroup .submitButton, form .closeButton {
  border: 1px solid #fff;
  color: #fff;
  font-weight: thin;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  width: 50%;
  display: inline-block;
  text-align: center;
}

form .closeButton {
  margin-left: 12px;
  width: calc(50% - 38px);
}

form .formGroup .submitButton:hover, form .closeButton:hover {
  background-color: #111;
  color: #ccc;
}

form select {
  width: 60%;
  padding: 2px;
}
