.container {
  max-width: 800px;
  margin: auto;
}

label {
  display: block;
}




form#cardSubmit {
  padding: 24px;
  background-color: #eee;
  border-radius: 12px;
  width: 400px;
  margin: auto;
}

form#cardSubmit .formGroup {
  margin-bottom: 12px;
}

form#cardSubmit .formGroup input{
  width: 100%;
}
